// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

// Imports
@import "base/base";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-weight: 200;
}


.stop-select-form-content {
  .submit-btn {
    line-height: inherit;
  }
}

.stop-times-table-content {
  h4 {
    padding-bottom: 15px;
  }

  .stop-time-card {
    padding-left: 15px;
    padding-right: 15px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: #a8afb5 1px 3px 5px;
    }
  }
}
